[submodule "robodriver/robots/so101_follower_dora"]
	path = robodriver/robots/so101_follower_dora
	url = https://github.com/BAAI-EI-DATA/robodriver-robot-so101-follower-dora.git
[submodule "robodriver/teleoperators/so101_leader_dora"]
	path = robodriver/teleoperators/so101_leader_dora
	url = https://github.com/BAAI-EI-DATA/robodriver-teleoperator-so101-leader-dora.git
[submodule "robodriver/robots/so101_aio_dora"]
	path = robodriver/robots/so101_aio_dora
	url = https://github.com/BAAI-EI-DATA/robodriver-robot-so101-aio-dora.git
[submodule "robodriver/robots/realman_aio_dora"]
	path = robodriver/robots/realman_aio_dora
	url = https://github.com/BAAI-EI-DATA/robodriver-robot-realman-aio-dora.git
[submodule "robodriver/robots/so101_aio_ros2"]
	path = robodriver/robots/so101_aio_ros2
	url = https://github.com/BAAI-EI-DATA/robodriver-robot-so101-aio-ros2.git
